<!DOCTYPE html>
<html lang="en">
include "head.html"
<body class="homepage">

    include "header.html"

    <!--sections -->
    include "sections/slider.html"
    include "sections/features.html"
    include "sections/recent.html"
    include "sections/services.html"
    include "sections/skills.html"
    include "sections/content1.html"
    include "sections/partners.html"
    include "sections/contact.html"
    include "sections/bottom.html"
    <!-- end sections -->

    include "footer.html"

    <!-- build:script jquery -->
    <script src="js/jquery.js"></script>
    <!-- /build -->

    <!-- build:script bundle -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
    <!-- /build -->
</body>
</html>