<!DOCTYPE html>
<html lang="en">
include "components/head.html"
<body>

    include "components/header.html"

    <!--sections -->
    <section>
        <div class="container detail">
            <h1>Philips Digital Dictation</h1>
            <h2>Find the right dictation solution for you and your business</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 card">
                    <h3 class="center-text-sm">Digital Recorders</h3>
                    <img src="images/speech-mike-premium.png">
                    <p>
                        Capture every word with with the highest sound quality using the digital recorders from Philips. On this page, you will learn what our products can do and how you can use them optimally. We are certain you will find the right solution for you.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 card">
                    <h3>Dictation Solutions</h3>
                    <img src="images/pocket-memo-digital-voice-recorder.png">
                    <p>
                        Philips dictation products feature ergonomic portable recorders that are easily combined with professional transcription hardware and software for a full workflow solution. They allow for a convenient creation of high quality dictation files, electronic file transfer to typist and quick transcription reducing speech-to-text turnaround times
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 card">
                    <h3>Digital Recorders</h3>
                    <img src="images/voice-recorder.png">
                    <p>
                        Capture every word with with the highest sound quality using the digital recorders from Philips. On this page, you will learn what our products can do and how you can use them optimally. We are certain you will find the right solution for you.
                    </p>
                </div>
            </div>
        </div>
    </section>

    include "sections/bottom.html"
    <!-- end sections -->

    include "components/footer.html"

    <!-- build:script jquery -->
    <script src="js/jquery.js"></script>
    <!-- /build -->

    <!-- build:script bundle -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
    <!-- /build -->
</body>
</html>