<!DOCTYPE html>
<html lang="en">
include "components/head.html"
<body>

    include "components/header.html"

    <!--sections -->
    <section id="content" class="shortcode-item">
        <div class="container">
            <div class="row">
                include "components/tab.html"
                include "components/accordion.html"
            </div>


        </div>
    </section>

    include "components/pricing-table.html"
    include "components/gallery.html"
    
    <!-- end sections -->

    include "components/footer.html"

    <!-- build:script jquery -->
    <script src="js/jquery.js"></script>
    <!-- /build -->

    <!-- build:script bundle -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
    <!-- /build -->
</body>
</html>